<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Youth Academy</title>
  </head>
  <body>
    <header class="header">
      <div class="discount">
        <div class="container">
          <strong>Get upto 70% Discount Today </strong>
          <div class="clock">
            <span class="hours time" id="hours"></span>
            <span class="minutes time" id="minutes"></span>
            <span class="seconds time" id="seconds"></span>
          </div>
          <button>Grab Now</button>
        </div>
      </div>
      <div class="contact">
        <div class="container">
          <div class="logo">
            <img src="/images/header/logo.png" alt="logo" />
          </div>
          <div class="number">
            <div class="whatsapp number">
              <a href="https://wa.me/123456789" target="_blank">
                <img src="/images/header/whatsapp.svg" alt="whatsapp" />
                123456789
              </a>
            </div>
            <div class="num number">
              <a href="tel:123456789">
                <img src="/images/header/phone.svg" alt="phone" />
                123456789
              </a>
            </div>
          </div>
          <div class="login">
            <button class="btn">Sign up</button>
            <button class="secondary">Sign in</button>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="container">
          <nav>
            <button class="burger-menu">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <ul class="menu-items">
              <li>
                <a href="/index.html" id="home">Home</a>
              </li>
              <li>
                <a href="/partials/about.html" id="about">About</a>
              </li>
              <li>
                <a href="/partials/course.html" id="course">Course</a>
              </li>
              <li>
                <a href="/partials/ya-store.html" id="YAStore(books)"
                  >YA Store (books)</a
                >
              </li>
              <li>
                <a href="/partials/articles.html" id="Articles">Articles</a>
              </li>
              <li>
                <a
                  href="/partials/contact.html"
                  id="contact"
                  >Contact</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
<section class="articles" >
    <div class="container">
        <div class="heading">
            <h1>Youth Academy Articles</h1>
        </div>
        <div class="card" onclick="articalDetail()">
            <div class="image-container">
              <img src="/images/articles/article.jpg" alt="MDCAT Image" class="image" />
            </div>
            <div class="content">
              <div class="category">9th Standard</div>
              <h2 class="title">How many times can you give 9th in Pakistan?</h2>
              <p class="description">
                Comprehensive overview of 9th rules in Pakistan, including exam attempts, age limits, FSc requirements, and preparation strategies for aspiring medical and dental students.
              </p>
              <div class="author">
                <img src="/images/hero/icon.enc" alt="Author" class="author-image" />
                <div class="author-info">
                  <span class="author-name">Azka Anwar</span>
                  <span class="date">October 7, 2024</span>
                </div>
              </div>
            </div>
          </div>
          
    </div>
</section>
   
    <footer>
      <div class="footer-container">
        <div class="footer-section logo-section">
          <img src="/images/header/logo.png" alt="Logo" />
          <p>
            The premium one-stop online learning platform for students all
            around the globe!
          </p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>

        <div class="footer-section">
          <h4>Company</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>Courses</h4>
          <ul>
            <li><a href="#">SAT</a></li>
            <li><a href="#">ECAT</a></li>
            <li><a href="#">MDCAT</a></li>
            <li><a href="#">BCAT</a></li>
            <li><a href="#">IX-X</a></li>
            <li><a href="#">XI-XII</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>Other Links</h4>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>Get App</h4>
          <div class="app-links">
            <a href="#"
              ><img src="/images/footer/googlePlay.svg" alt="Google Play"
            /></a>
            <a href="#"
              ><img src="/images/footer/appStore.svg" alt="App Store"
            /></a>
          </div>
        </div>
      </div>

      <div class="footer-contact">
        <div class="contact">
          <div class="flex">
            <i class="fas fa-phone"></i>
            <p>Call Us</p>
          </div>
          <a href="tel+:123456789">123456789</a>
        </div>
        <div class="contact">
          <div class="flex">
            <i class="fas fa-envelope"></i>
            <p>Email Us</p>
          </div>
          <p>info@youthacademy.com</p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>
          Copyright <span id="showyear"></span> Youth Academy - All Rights
          Reserved
        </p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
    <script>
        const articalDetail = () => {
            window.location.href = "articleDetail.html";
        };
    </script>
  </body>
</html>
