<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Youth Academy</title>
  </head>
  <body>
    <header class="header">
      <div class="discount">
        <div class="container">
          <strong>Get upto 70% Discount Today </strong>
          <div class="clock">
            <span class="hours time" id="hours"></span>
            <span class="minutes time" id="minutes"></span>
            <span class="seconds time" id="seconds"></span>
          </div>
          <button>Grab Now</button>
        </div>
      </div>
      <div class="contact">
        <div class="container">
          <div class="logo">
            <img src="/images/header/logo.png" alt="logo" />
          </div>
          <div class="number">
            <div class="whatsapp number">
              <a href="https://wa.me/123456789" target="_blank">
                <img src="/images/header/whatsapp.svg" alt="whatsapp" />
                123456789
              </a>
            </div>
            <div class="num number">
              <a href="tel:123456789">
                <img src="/images/header/phone.svg" alt="phone" />
                123456789
              </a>
            </div>
          </div>
          <div class="login">
            <a href="/partials/sign-up.html"
              ><button class="btn">Sign up</button></a
            >
            <a href="/partials/sign-in.html"
              ><button class="secondary">Sign in</button></a
            >
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="container">
          <nav>
            <button class="burger-menu">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <ul class="menu-items">
              <li>
                <a href="/index.html" id="home">Home</a>
              </li>
              <li>
                <a href="/partials/about.html" id="about">About</a>
              </li>
              <li>
                <a href="/partials/course.html" id="course">Course</a>
              </li>
              <li>
                <a href="/partials/ya-store.html" id="YAStore(books)"
                  >YA Store (books)</a
                >
              </li>
              <li>
                <a href="/partials/articles.html" id="Articles">Articles</a>
              </li>
              <li>
                <a
                  href="/partials/contact.html"
                  id="contact"
                  onclick="setActive('contact')"
                  >Contact</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <section class="course">
      
        <div class="category">
          <div class="container">
            <div class="heading">academy Courses
              <h2 class="h2">Youth </h2>
              <p>
                A curated collection of amazing courses, chosen based on
                popularity and ratings by students.
              </p>
            </div>
            <div class="slider">
              <div class="slide">
                <img src="/images/hero/slider1.webp" alt="Image 1" />
                <div class="textWrap">
                  <h2>MATRIC</h2>
                  <p>Class 9th(Science)</p>
                  <p>Class 10th(Science)</p>
                  <p>Class 9th(Computer Science)</p>
                  <p>Class 10th(Computer Science)</p>
                 
                </div>
              </div>
              <div class="slide">
                <img src="/images/hero/slider2.webp" alt="Image 2" />
                <div class="textWrap">
                  <h2>F.S.C</h2>
                  <p>Class 11th(pre-medical)</p>
                  <p>Class 12th(pre-engineering)</p>
                  <p>Class 11th(pre-medical)</p>
                  <p>Class 12th(pre-engineering)</p>
                 
                </div>
              </div>
              <div class="slide">
                <img src="/images/hero/slide3.webp" alt="Image 3" />
                <div class="textWrap">
                  <h2>F.A</h2>
                  <p>F.A(Part 1)</p>
                  <p>F.A(Part 2)</p>
                
                </div>
              </div>
              <div class="slide">
                <img src="/images/hero/slide4.webp" alt="Image 4" />
                <div class="textWrap">
                  <h2>I.C.S</h2>
                  <p>I.C.S(Part 1)</p>
                  <p>I.C.S(Part 2)</p>
                 
                </div>
              </div>
              <div class="slide">
                <img src="/images/hero/slide4.webp" alt="Image 4" />
                <div class="textWrap">
                  <h2>I.COM</h2>
                  <p>I.COM(Part 1)</p>
                  <p>I.COM(Part 2)</p>
                 
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="aroojBatch" >
          <h2>Arooj Batch Questions</h2>
          <div class="container">
            <div class="faq-container">
              <div class="faq-item active">
                <div class="faq-question">
                  <label>
                    <input
                      type="radio"
                      name="faq"
                      value="daily-live-sessions"
                      checked
                    />
                    <span class="custom-radio"></span>
                    Daily Live Sessions
                  </label>
                </div>
                <div class="faq-answer">
                  <ul>
                    <li>
                      Daily Interactive Live classes with Subject Expert teachers
                    </li>
                    <li>Clarify doubts and enhance understanding</li>
                    <li>Full Syllabus Coverage</li>
                    <li>Recorded sessions available for revision</li>
                  </ul>
                </div>
                <div class="img-container">
                  <img
                    id="faq-image"
                    src="/images/hero/feature1.webp"
                    alt="Daily Live Sessions"
                  />
                </div>
              </div>
  
              <div class="faq-item">
                <div class="faq-question">
                  <label>
                    <input type="radio" name="faq" value="recorded-lectures" />
                    <span class="custom-radio"></span>
                    Recorded Lectures
                  </label>
                </div>
                <div class="faq-answer">
                  <ul>
                    <li>Get all recorded lectures</li>
                    <li>Full Syllabus Coverage</li>
                    <li>Downloadable notes and materials of all chapters</li>
                  </ul>
                </div>
                <div class="img-container">
                  <img
                    id="faq-image"
                    src="/images/hero/feature2.webp"
                    alt="Recorded Lectures"
                  />
                </div>
              </div>
  
              <div class="faq-item">
                <div class="faq-question">
                  <label>
                    <input type="radio" name="faq" value="study-notes" />
                    <span class="custom-radio"></span>
                    Study Notes
                  </label>
                </div>
                <div class="faq-answer">
                  <ul>
                    <li>Comprehensive study materials:</li>
                    <li>Study Notes of each subject</li>
                    <li>Pairing Scheme</li>
                    <li>Guess Papers</li>
                    <li>Past Papers</li>
                    <li>MCQs</li>
                    <li>Chapter-wise important data</li>
                  </ul>
                </div>
                <div class="img-container">
                  <img
                    id="faq-image"
                    src="/images/hero/feature3.webp"
                    alt="Study Notes"
                  />
                </div>
              </div>
  
              <div class="faq-item">
                <div class="faq-question">
                  <label>
                    <input type="radio" name="faq" value="teacher-support" />
                    <span class="custom-radio"></span>
                    24/7 Teacher Support
                  </label>
                </div>
                <div class="faq-answer">
                  <ul>
                    <li>
                      Ask any question, any doubt, anytime to subject teacher
                    </li>
                    <li>Dedicated instructors for guidance</li>
                    <li>Live chat support for each subject</li>
                  </ul>
                </div>
                <div class="img-container">
                  <img
                    id="faq-image"
                    src="/images/hero/feature4.webp"
                    alt="24/7 Teacher Support"
                  />
                </div>
              </div>
  
              <div class="faq-item">
                <div class="faq-question">
                  <label>
                    <input type="radio" name="faq" value="test-sessions" />
                    <span class="custom-radio"></span>
                    Test Sessions
                  </label>
                </div>
                <div class="faq-answer">
                  <ul>
                    <li>Grand Test Session</li>
                    <li>Topic-wise Test</li>
                    <li>Chapter-wise Test</li>
                    <li>Half Book Test</li>
                    <li>Full Book Test</li>
                    <li>Regular assessments to track progress</li>
                  </ul>
                </div>
                <div class="img-container">
                  <img
                    id="faq-image"
                    src="/images/hero/feature5.webp"
                    alt="Test Sessions"
                  />
                </div>
              </div>
  
              <div class="faq-item">
                <div class="faq-question">
                  <label>
                    <input type="radio" name="faq" value="syllabus-planning" />
                    <span class="custom-radio"></span>
                    Syllabus Planning
                  </label>
                </div>
                <div class="faq-answer">
                  <ul>
                    <li>Study Plans: tailored to your needs</li>
                    <li>Smart Syllabus: structured and organized</li>
                    <li>Timely completion of syllabus</li>
                    <li>Sir Usama’s mentorship</li>
                  </ul>
                </div>
                <div class="img-container">
                  <img
                    id="faq-image"
                    src="/images/hero/feature6.webp"
                    alt="Syllabus Planning"
                  />
                </div>
              </div>
            </div>
            <div class="img-containers">
              <img
                id="faq-images"
                src="/images/hero/feature1.webp"
                alt="FAQ Feature"
              />
            </div>
          </div>
        </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-section logo-section">
          <a href="/index.html"><img src="/images/header/logo.png" alt="Logo" /></a>
          <p>
            The premium one-stop online learning platform for students all
            around the globe!
          </p>
          <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-x-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
          </div>
        </div>

        <div class="footer-section">
          <h4>Company</h4>
          <ul>
            <li><a href="/partials/about.html">About Us</a></li>
            <li><a href="/partials/contact.html">Contact Us</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>Courses</h4>
          <ul>
            <li><a href="#">Class 9th</a></li>
            <li><a href="#">Class 10th</a></li>
            <li><a href="#">Class 11th</a></li>
            <li><a href="#">Class 12th</a></li>
            
          </ul>
        </div>

        <div class="footer-section">
          <h4>Other Links</h4>
          <ul>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>

        <div class="footer-section">
          <h4>Get App</h4>
          <div class="app-links">
            <a href="#"
              ><img src="/images/footer/googlePlay.svg" alt="Google Play"
            /></a>
            <a href="#"
              ><img src="/images/footer/appStore.svg" alt="App Store"
            /></a>
          </div>
        </div>
      </div>

      <div class="footer-contact">
        <div class="contact">
          <div class="flex">
            <i class="fas fa-phone"></i>
            <p>Call Us</p>
          </div>
          <a href="tel+:123456789">123456789</a>
        </div>
        <div class="contact">
          <div class="flex">
            <i class="fas fa-envelope"></i>
            <p>Email Us</p>
          </div>
          <p>info@youthacademy.com</p>
        </div>
      </div>

      <div class="footer-bottom">
        <p>
          Copyright <span id="showyear"></span> Youth Academy - All Rights
          Reserved
        </p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
