<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <section class="signup">
      <div class="container">
        <a href="/index.html" class="logoWrap">
          <img src="/images/header/logo.png" alt="" />
          <h2>Youth Academy</h2>
        </a>
        <div class="formWrap">
          
          <form action="post" id="contactForm">
            <div class="log"><img src="/images/header/logo.png" alt="" /></div>
            <h2>Registration</h2>
            <div class="form-group">
              <label for="name">Your Name *</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter your Name"
                required
              />
              <span class="error-message" id="nameError"></span>
            </div>
            <div class="form-group">
              <label for="name">Your Email *</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Enter Your Email"
                required
              />
              <span class="error-message" id="emailError"></span>
            </div>
            <div class="form-group">
              <label for="name">Your Phone No *</label>
              <input
                type="number"
                id="number"
                name="number"
                placeholder="Enter Your Number"
                required
              />
              <span class="error-message" id="numberError"></span>
            </div>
            <div class="form-group">
              <label for="name">Password *</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter Your password"
                required
              />
              <span class="error-message" id="emailError"></span>
            </div>
            <div class="form-group">
              <label for="name">Confirm password*</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter Your password"
                required
              />
              <span class="error-message" id="emailError"></span>
            </div>
            <button class="btn">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <script src="/js/script.js"></script>
  </body>
</html>
