<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <section class="signin">
      <div class="container">
        <a href="/index.html" class="logoWrap">
          <img src="/images/header/logo.png" alt="" />
          <h2>Youth Academy</h2>
        </a>
        <div class="formWrap">
          <form action="post" id="contactForm" onsubmit="return validateForm()">
            <a href="/index.html" class="log"><img src="/images/header/logo.png" alt="" /></a>
            <h2>Sign In</h2>

            <div class="form-group">
              <label for="name">Your Name *</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter your Name"
                required
              />
              <span class="error-message" id="nameError"></span>
            </div>

            <div class="form-group">
              <label for="password">Password *</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter Your Password"
                required
              />
              <span class="error-message" id="passwordError"></span>
            </div>

            <button class="btn" type="submit">Submit</button>
            <span class="subTitle">Don't Have an Account?  <a href="/partials/sign-up.html">Sign Up</a></span>
          </form>
        </div>
      </div>
    </section>
    <script src="/js/script.js"></script>
  </body>
</html>
