.hero{
    margin-bottom: 30px;
    @media (min-width:992px){
        margin-bottom: 50px;
    }
    .sliders{
        cursor: grab;
        img{
            width: 100%;
            height: 200px;
            @media (min-width:768px){
                height: 400px;
            }
        }
    }
}
.counter-section {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #fff;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 15px;
    @media (min-width:992px){
        margin-bottom: 50px;
    }
    .counter {
        text-align: center;
        
        .count {
            font-size: 30px;
            line-height: 36px;
            font-weight: bold;
            color: #111;
            display: block;
          @media (min-width:992px){
            font-size: 36px;
            line-height: 40px;
          }
        }
        strong{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inc{
            font-size: 30px;
        }
        p {
            font-size: 14px;
            color: #555;
            margin-top: 10px;
        }
    }
    
    // @media (max-width: 768px) {
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 20px;
    // }
}
